t
.vercel
.vscode
node_modules
dist    
build
vercel.json
vercelignore
.gitignore
.env
.env.production
.env.development
.prettierignore
api.rest
.sourcery.yaml
.babelrc
CVE-2023-44487.json
# Million Lint
.million
client/public/img/
.eslintrc.cjs
