/* Mobile-first styles */
.navbarWrapper {
  /* Cambiado a camelCase */
  -webkit-backdrop-filter: blur(200px); /* Soporte para Safari */
  backdrop-filter: blur(20px);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100 ;
  /* background-color: rgba(18, 46, 15, 0.8);*/
}

.navbarLogoWrapper {
  /* Cambiado a camelCase */
  justify-content: start;
  align-items: center;
  width: 20%;
  filter: invert();
}

.navbarMenuWrapper {
  /* Cambiado a camelCase */
  display: flex;
  justify-content: center;
}

.navbarWrapper .flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbarLogo img {
  width: 50%; /* Tamaño del logo en móviles */
}

.navbarMenu {
  display: flex;
  justify-content: space-around;
}

.navbarMenu a {
  color: #8bd685; /* Verde claro */
  padding: 0 10px;
  text-decoration: none;
}

